
.socratic-question{ style: question.question_style, class: question.question_classes }
	- if question.preface.present?
		.preface= raw question.preface

	= render "socratic/questions/#{question.question_ui}", question: question

	- if question.content.present?
		.content= raw question.content

