.form-group
	= label_tag "responses[#{question.slug}][prompt_id]", question.title
	= select_tag "responses[#{question.slug}][prompt_id]", options_for_select( question.prompts.order( seq: :asc ).map{ |p| [ p.title, p.id ] }.to_h, @surveying.responses.where( question: question ).last.try( :prompt_id ) ), class: 'form-control', prompt: '-- Please Select --'